Repository RakeshPotnuru/publish-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, github-actions, github-meta, dependencies

chore: add error logging to GoogleAuth component
  apps/frontend/src/components/modules/auth/google-auth.tsx
Labels: frontend

fix: google gsi script placement
  apps/frontend/next.config.mjs
  apps/frontend/src/app/(auth)/layout.tsx
  apps/frontend/src/app/layout.tsx
Labels: frontend

chore: add www2.profitwell.com to connect-src in next.config.mjs
  apps/frontend/next.config.mjs
Labels: frontend

feat: do not require credit card for free trial
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/index.tsx
  packages/core/src/config/constants.ts
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/admin/admin.routes.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/auth/auth.helpers.ts
  packages/core/src/modules/user/user.types.ts
  packages/core/src/trpc.ts
Labels: backend, frontend

fix bullmq
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/auth/auth.helpers.ts
Labels: backend

fix
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/auth/auth.helpers.ts
Labels: backend

fix delay
  packages/core/src/modules/admin/admin.controller.ts
Labels: backend

fix delay error
  packages/core/src/modules/auth/auth.helpers.ts
Labels: backend

fix ui
  apps/frontend/src/components/modules/dashboard/settings/billing/index.tsx
Labels: frontend

refactor free trial logic
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/modules/dashboard/pay/upgrade.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/index.tsx
  apps/frontend/src/utils/is-on-free-trial.ts
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/admin/admin.routes.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/auth/auth.helpers.ts
  packages/core/src/trpc.ts
Labels: backend, frontend

Refactor constants and remove unused code
  packages/core/src/config/constants.ts
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/admin/admin.routes.ts
Labels: backend

going open source
  .vscode/settings.json
  README.md
  apps/admin/README.md
  apps/frontend/README.md
  package.json
  pnpm-lock.yaml
Labels: frontend, dependencies

Create LICENSE
  LICENSE
Labels: none

chore(deps): update posthog-js to version 1.203.1
  apps/frontend/package.json
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  pnpm-lock.yaml
Labels: frontend, dependencies

fix: add dev.to tag sanitization and update post publish behavior
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  packages/core/src/modules/platform/devto/devto.controller.ts
Labels: backend, frontend

feat(auth): initialize planner for new users upon registration with google
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend

fix(footer): update copyright year to current year dynamically
  apps/admin/src/components/common/layout/footer.tsx
  apps/frontend/src/components/common/layout/footer.tsx
Labels: frontend

refactor(navbar): move posthog identification to useEffect
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/modules/dashboard/home/index.tsx
  apps/frontend/src/components/ui/loaders/folders-loader.tsx
Labels: frontend

refactor(navbar): move posthog identification to useEffect
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/modules/dashboard/home/index.tsx
  apps/frontend/src/components/ui/loaders/folders-loader.tsx
Labels: frontend

Merge branch 'main' of github.com:RakeshPotnuru/publish-studio
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
Labels: frontend

fix folders loader
  apps/frontend/src/components/modules/dashboard/folders/table.tsx
  apps/frontend/src/components/ui/loaders/folders-loader.tsx
Labels: frontend

improve auth
  apps/admin/package.json
  apps/admin/src/components/common/layout/actions.ts
  apps/admin/src/components/common/layout/navbar.tsx
  apps/admin/src/components/modules/auth/login-form.tsx
  apps/admin/src/lib/providers/trpc.tsx
  apps/admin/src/middleware.ts
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/common/layout/navbar/actions.ts
  apps/frontend/src/components/editor/index.tsx
  apps/frontend/src/components/editor/project-toolbar.tsx
  apps/frontend/src/components/modules/auth/google-auth.tsx
  apps/frontend/src/components/modules/auth/login-form.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/export-project.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/security.tsx
  apps/frontend/src/lib/providers/trpc.tsx
  apps/frontend/src/middleware.ts
  apps/frontend/src/utils/axios.ts
  apps/frontend/src/utils/stream.ts
  apps/frontend/src/utils/trpc.ts
  packages/core/src/index.ts
  packages/core/src/middlewares/deserialize-user.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/utils/google/auth.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

chore: update Next.js to 14.2.21 and mongoose to 8.9.5; remove nullable tokens from auth response
  apps/admin/package.json
  apps/frontend/package.json
  packages/core/src/modules/auth/auth.routes.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

fix: make headers optional in createTRPCServerClient function
  apps/frontend/src/utils/trpc.ts
Labels: frontend

fix: replace window.location with router.replace for navigation in GoogleAuth and LoginForm; set domain for cookies
  apps/frontend/src/components/modules/auth/google-auth.tsx
  apps/frontend/src/components/modules/auth/login-form.tsx
  apps/frontend/src/middleware.ts
  packages/core/src/config/app.ts
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend, frontend

fix: update user last_login timestamp on Google authentication
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend

fix: logout and last_login
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/common/layout/navbar/actions.ts
  apps/frontend/src/components/modules/dashboard/settings/security.tsx
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend, frontend

fix logout
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend

feat: implement inactive user cleanup
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/actions.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/fields/description.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/fields/title.tsx
  apps/frontend/src/components/modules/dashboard/projects/settings/update-categories.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/generate-outline.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/tone-analysis/index.tsx
  apps/frontend/src/components/ui/pro-button.tsx
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/admin/admin.routes.ts
  packages/core/src/modules/asset/asset.service.ts
  packages/core/src/routes.ts
Labels: backend, frontend

fixes
  apps/admin/src/components/common/layout/actions.ts
  apps/admin/src/components/common/layout/navbar.tsx
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/asset/asset.service.ts
Labels: backend, frontend

fix: update cookie options to use SITE_ENV for production check
  packages/core/src/config/app.ts
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend

fix: update account menu logout behavior and middleware cookie domain handling
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/middleware.ts
  packages/core/package.json
Labels: backend, frontend, dependencies

feat: disable user registration and sign-up flows
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/components/modules/auth/login-form.tsx
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/auth/auth.routes.ts
Labels: backend, frontend

fix: update account menu logout behavior and middleware cookie domain handling
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/middleware.ts
  packages/core/package.json
Labels: backend, frontend, dependencies

re-enable signups
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/components/modules/auth/login-form.tsx
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/auth/auth.routes.ts
Labels: backend, frontend

remove EmotionScores component in Stats
  apps/frontend/src/components/modules/dashboard/home/stats/index.tsx
Labels: frontend

update site description
  apps/frontend/src/config/site.ts
Labels: frontend

.github/labeler.yml:

backend:
  - packages/**/*

frontend:
  - apps/**/*

documentation:
  - docs

github-actions:
  - .github/workflows/*

github-meta:
  - .github/**/*

dependencies:
  - package.json
  - pnpm-lock.yaml
  - apps/*/package.json
  - packages/*/package.json
