Repository RakeshPotnuru/publish-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, github-actions, github-meta, dependencies

.github/labeler.yml:

backend:
  - packages/**/*

frontend:
  - apps/**/*

documentation:
  - docs

github-actions:
  - .github/workflows/*

github-meta:
  - .github/**/*

dependencies:
  - package.json
  - pnpm-lock.yaml
  - apps/*/package.json
  - packages/*/package.json

web: basic setup
  .husky/pre-commit
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/modules/home/index.tsx
  apps/web/src/components/ui/toaster.tsx
  apps/web/src/lib/providers/index.tsx
  apps/web/src/lib/providers/theme.tsx
  apps/web/src/styles/globals.css
  pnpm-lock.yaml
Labels: frontend, dependencies

Update home page heading for mobile
  apps/web/src/components/modules/home/index.tsx
Labels: frontend

fhntyny
  apps/web/src/components/modules/home/index.tsx
Labels: frontend

Refactor home page title styling
  .husky/pre-commit
  apps/web/src/components/modules/home/index.tsx
Labels: frontend

Add privacy policy
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/components/common/layout/footer.tsx
  apps/web/src/components/common/layout/navbar.tsx
  apps/web/src/components/ui/heading.tsx
  apps/web/src/components/ui/link-button.tsx
  apps/web/src/config/site.ts
Labels: frontend

add terms of service
  apps/web/src/app/cookies/page.tsx
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/app/terms-of-service/page.tsx
  apps/web/src/components/common/layout/footer.tsx
  apps/web/src/config/site.ts
Labels: frontend

Add invite functionality
  apps/frontend/src/app/(auth)/layout.tsx
  apps/frontend/src/app/(protected)/(dashboard)/layout.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/layout/footer.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/common/layout/navbar/notifications.tsx
  apps/frontend/src/components/common/layout/sidebar.tsx
  apps/web/package.json
  apps/web/src/app/terms-of-service/page.tsx
  apps/web/src/assets/icons.ts
  apps/web/src/components/common/captcha.tsx
  apps/web/src/components/modules/home/index.tsx
  apps/web/src/components/ui/loaders/button-loader.tsx
  apps/web/src/lib/providers/index.tsx
  apps/web/src/lib/providers/trpc.tsx
  apps/web/src/utils/trpc.ts
  packages/core/src/config/constants.ts
  packages/core/src/modules/admin/invite/invite.controller.ts
  packages/core/src/modules/admin/invite/invite.model.ts
  packages/core/src/modules/admin/invite/invite.routes.ts
  packages/core/src/modules/admin/invite/invite.service.ts
  packages/core/src/modules/admin/invite/invite.types.ts
  packages/core/src/routes.ts
  packages/core/src/trpc.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

Update tsconfig.json
  apps/web/tsconfig.json
Labels: frontend

fix npmrc
  .npmrc
Labels: none

move .npmrc file
  apps/web/.npmrc
Labels: frontend

add netlify.toml
  apps/web/netlify.toml
Labels: frontend

rfw
  apps/web/.npmrc
  apps/web/netlify.toml
Labels: frontend

Remove .npmrc file
  apps/web/.npmrc
Labels: frontend

rvwrrv
  apps/web/.npmrc
Labels: frontend

remove pro
  .vscode/settings.json
  apps/frontend/.gitignore
  apps/frontend/.npmrc
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/ui/pro-button.tsx
  packages/core/src/trpc.ts
Labels: backend, frontend

Add frontend production workflow
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Add Node.js version and cache configuration for build process
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Add Tiptap Pro registry and authentication
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Update build command in frontend-prod.yaml
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Update build and publish workflow
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Update build command in frontend-prod.yaml
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Add NODE_ENV environment variable for production deployment
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Add NODE_ENV environment variable for production deployment
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Add TERM environment variable to frontend-prod.yaml
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Remove frontend-prod.yaml workflow
  .github/workflows/frontend-prod.yaml
Labels: github-actions, github-meta

Add error handling for MongoDB connection failure
  packages/core/src/utils/db.ts
Labels: backend

Add staging banner for all
  apps/admin/src/app/layout.tsx
  apps/frontend/src/app/layout.tsx
  apps/web/src/app/layout.tsx
Labels: frontend

Update environment check in layout.tsx
  apps/admin/src/app/layout.tsx
  apps/frontend/src/app/layout.tsx
  apps/web/src/app/layout.tsx
Labels: frontend

add SITE_ENV
  apps/web/src/app/layout.tsx
Labels: frontend

Add assetsUrl to app.config and use it in asset.service.ts
  packages/core/src/config/app.config.ts
  packages/core/src/modules/asset/asset.service.ts
Labels: backend

fixes and improvements
  apps/admin/src/components/modules/dashboard/home/invites/invite.tsx
  apps/frontend/src/components/modules/dashboard/assets/new-asset.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/schedule-post.tsx
  packages/core/src/modules/auth/auth.routes.ts
  packages/core/src/modules/auth/auth.service.ts
  packages/core/src/modules/post/publish/publish.helpers.ts
  packages/core/src/utils/sendgrid.ts
Labels: backend, frontend

Refactor move-project.tsx component
  apps/frontend/src/components/modules/dashboard/projects/move-project.tsx
Labels: frontend

web: landing page ready frontend: update robots.ts
  .vscode/settings.json
  apps/web/declarations.d.ts
  apps/web/package.json
  apps/web/public/images/demo/dictation.png
  apps/web/public/images/demo/generative-ai.png
  apps/web/public/images/demo/import-content.png
  apps/web/public/images/demo/project-page.png
  apps/web/public/images/demo/project-page.webp
  apps/web/public/images/demo/rich-text-editing.png
  apps/web/public/images/demo/tone-analysis.png
  apps/web/public/images/og.png
  apps/web/src/app/layout.tsx
  apps/web/src/app/manifest.ts
  apps/web/src/app/not-found.tsx
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
  apps/web/src/assets/icons.ts
  apps/web/src/assets/images.ts
  apps/web/src/components/common/layout/footer.tsx
  apps/web/src/components/common/layout/navbar.tsx
  apps/web/src/components/modules/home/cta.tsx
  apps/web/src/components/modules/home/features.tsx
  apps/web/src/components/modules/home/hero.tsx
  apps/web/src/components/modules/home/index.tsx
  apps/web/src/components/modules/home/integrations.tsx
  apps/web/src/components/modules/home/platforms.tsx
  apps/web/src/components/ui/background-beams.tsx
  apps/web/src/components/ui/floating-navbar.tsx
  apps/web/src/components/ui/lamp.tsx
  apps/web/src/components/ui/magic-border-btn.tsx
  apps/web/src/components/ui/sticky-scroll-reveal.tsx
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Labels: frontend, dependencies

Update remotePatterns in next.config.js
  apps/frontend/next.config.js
Labels: frontend

Add margin to privacy policy and terms of service pages
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/app/terms-of-service/page.tsx
Labels: frontend

Trigger download before inserting image unsplash
  apps/frontend/src/components/modules/dashboard/assets/image-widget/search-body.tsx
  apps/frontend/src/components/modules/dashboard/assets/image-widget/unsplash.tsx
  apps/web/public/images/og.png
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/app/terms-of-service/page.tsx
  packages/core/src/modules/integration/unsplash/unsplash.controller.ts
  packages/core/src/modules/integration/unsplash/unsplash.routes.ts
  packages/core/src/modules/integration/unsplash/unsplash.service.ts
Labels: backend, frontend

Update assetsUrl to use SITE_ENV instead of NODE_ENV
  packages/core/src/config/app.config.ts
  packages/core/src/config/env.ts
Labels: backend

Update content security policy and add additional security headers
  apps/frontend/next.config.js
  apps/frontend/src/components/editor/custom-extensions/speech-recognition.ts
Labels: frontend

fix: packages/core/package.json to reduce vulnerabilities
  packages/core/package.json
Labels: backend, dependencies

Update CSP header and disable x-powered-by in app, improve password hashing in auth controller, update bullmq
  apps/frontend/next.config.js
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.controller.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies
