Repository RakeshPotnuru/publish-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, github-actions, github-meta, dependencies

.github/labeler.yml:

backend:
  - packages/**/*

frontend:
  - apps/**/*

documentation:
  - docs

github-actions:
  - .github/workflows/*

github-meta:
  - .github/**/*

dependencies:
  - package.json
  - pnpm-lock.yaml
  - apps/*/package.json
  - packages/*/package.json

Add helmet package and use it in the core application
  apps/frontend/src/hooks/use-editor.tsx
  packages/core/package.json
  packages/core/src/index.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

Add Content-Security-Policy for admin and web
  apps/admin/next.config.mjs
  apps/frontend/next.config.mjs
  apps/web/next.config.mjs
Labels: frontend

Bug fixes
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/modules/dashboard/assets/columns.tsx
  apps/frontend/src/components/modules/dashboard/assets/image-widget/pexels.tsx
  apps/frontend/src/components/modules/dashboard/assets/image-widget/unsplash.tsx
  apps/frontend/src/components/modules/dashboard/home/recent-projects.tsx
  apps/frontend/src/components/modules/dashboard/projects/columns.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/connection-card.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/index.tsx
  apps/frontend/src/config/site.ts
Labels: frontend

Add target="_blank" to Docs link in Navbar
  apps/frontend/src/components/common/layout/navbar/index.tsx
Labels: frontend

Stg (#17)
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/modules/dashboard/assets/columns.tsx
  apps/frontend/src/components/modules/dashboard/assets/image-widget/pexels.tsx
  apps/frontend/src/components/modules/dashboard/assets/image-widget/unsplash.tsx
  apps/frontend/src/components/modules/dashboard/home/recent-projects.tsx
  apps/frontend/src/components/modules/dashboard/projects/columns.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/connection-card.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/index.tsx
  apps/frontend/src/config/site.ts
Labels: frontend

Add utm tags for unsplash
  README.md
  apps/frontend/src/components/modules/dashboard/assets/image-widget/unsplash.tsx
Labels: frontend

Stg (#18)
  README.md
  apps/frontend/src/components/modules/dashboard/assets/image-widget/unsplash.tsx
Labels: frontend

docs: Add next-sitemap for generating sitemap.xml web, frontend: Update robots.ts
  apps/docs/.npmrc
  apps/docs/next-sitemap.config.mjs
  apps/docs/package.json
  apps/docs/public/robots.txt
  apps/docs/public/sitemap-0.xml
  apps/docs/public/sitemap.xml
  apps/frontend/src/app/robots.ts
  apps/web/src/app/robots.ts
  pnpm-lock.yaml
Labels: frontend, dependencies

Stg (#22)
  apps/docs/.npmrc
  apps/docs/next-sitemap.config.mjs
  apps/docs/package.json
  apps/docs/public/robots.txt
  apps/docs/public/sitemap-0.xml
  apps/docs/public/sitemap.xml
  apps/frontend/src/app/robots.ts
  apps/web/src/app/robots.ts
  pnpm-lock.yaml
Labels: frontend, dependencies

Bug fixes
  apps/frontend/src/components/common/layout/navbar/index.tsx
Labels: frontend

Add target="_blank" to Docs link in Navbar
  apps/frontend/src/components/common/layout/navbar/index.tsx
Labels: frontend

web, frontend: fix sitemap.xml and robots.txt
  apps/frontend/src/app/robots.ts
  apps/web/src/app/sitemap.ts
Labels: frontend

Fix robots.ts
  apps/frontend/src/app/robots.ts
Labels: frontend

admin, core: add delete invites functionality frontend, web: fix robots.ts
  apps/admin/src/assets/icons.ts
  apps/admin/src/components/modules/dashboard/home/invites/columns.tsx
  apps/admin/src/components/modules/dashboard/home/invites/toolbar.tsx
  apps/frontend/src/app/robots.ts
  apps/web/src/app/robots.ts
  packages/core/src/modules/admin/invite/invite.controller.ts
  packages/core/src/modules/admin/invite/invite.routes.ts
  packages/core/src/modules/admin/invite/invite.service.ts
Labels: backend, frontend

Refactor DevToService and HashnodeService
  packages/core/src/modules/platform/devto/devto.service.ts
  packages/core/src/modules/platform/hashnode/hashnode.service.ts
Labels: backend

Add Accept header to DevToService API request
  packages/core/src/modules/platform/devto/devto.service.ts
  packages/core/src/modules/platform/hashnode/hashnode.service.ts
Labels: backend

admin: add created to invites frontend: bug fixes
  .prettierrc
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/robots.ts
  apps/admin/src/components/modules/dashboard/home/invites/columns.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/actions.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/platforms/index.tsx
  apps/frontend/src/lib/providers/trpc.tsx
  pnpm-lock.yaml
Labels: frontend, dependencies

frontend: fix reset user state after updating platforms
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/connect-blogger.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/use-reset-user.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/connect-wp.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/index.tsx
Labels: frontend

Stg (#29)
  .prettierrc
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/robots.ts
  apps/admin/src/components/modules/dashboard/home/invites/columns.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/actions.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/platforms/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/connect-blogger.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/connect-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/medium/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/use-reset-user.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/connect-wp.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/edit-form.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/index.tsx
  apps/frontend/src/lib/providers/trpc.tsx
  pnpm-lock.yaml
Labels: frontend, dependencies

Add project page image and hero section styling
  apps/web/public/images/demo/project-page-dark.png
  apps/web/public/images/demo/project-page.png
  apps/web/src/assets/images.ts
  apps/web/src/components/modules/home/hero.tsx
  apps/web/src/components/modules/home/platforms.tsx
  apps/web/src/components/ui/lamp.tsx
Labels: frontend

fix responsiveness
  apps/web/src/components/modules/home/hero.tsx
  apps/web/src/components/modules/home/platforms.tsx
  apps/web/src/components/ui/lamp.tsx
Labels: frontend

Stg (#31)
  apps/web/public/images/demo/project-page-dark.png
  apps/web/public/images/demo/project-page.png
  apps/web/src/assets/images.ts
  apps/web/src/components/modules/home/platforms.tsx
  apps/web/src/components/ui/lamp.tsx
Labels: frontend

add banner
  apps/web/src/components/modules/home/hero.tsx
  apps/web/src/components/ui/lamp.tsx
Labels: frontend

Stg (#32)
  apps/web/src/components/modules/home/hero.tsx
Labels: frontend

update banner message
  apps/web/src/components/modules/home/hero.tsx
Labels: frontend

Update copyright year in footer components
  apps/admin/src/components/common/layout/footer.tsx
  apps/docs/theme.config.tsx
  apps/frontend/src/components/common/layout/footer.tsx
  apps/web/src/components/common/layout/footer.tsx
Labels: frontend

Add code-spell-checker extension to .vscode/extensions.json
  .vscode/extensions.json
Labels: none

remove waitlist
  apps/web/src/components/common/layout/navbar.tsx
  apps/web/src/components/modules/home/cta.tsx
  apps/web/src/components/modules/home/hero.tsx
  apps/web/src/components/modules/home/index.tsx
  apps/web/src/components/ui/floating-navbar.tsx
  apps/web/src/components/ui/lamp.tsx
  apps/web/src/components/ui/magic-border-btn.tsx
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend, frontend

Stg (#33)
  .vscode/extensions.json
  apps/web/src/components/common/layout/navbar.tsx
  apps/web/src/components/modules/home/cta.tsx
  apps/web/src/components/modules/home/hero.tsx
  apps/web/src/components/modules/home/index.tsx
  apps/web/src/components/ui/floating-navbar.tsx
  apps/web/src/components/ui/lamp.tsx
  apps/web/src/components/ui/magic-border-btn.tsx
  packages/core/src/modules/auth/auth.controller.ts
Labels: backend, frontend

Add support for exporting projects to PDF and Docx formats
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/src/assets/icons/file.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/export-project.tsx
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: frontend, dependencies

change disposable email checker service
  packages/core/src/config/app.ts
  packages/core/src/index.ts
  packages/core/src/middlewares/deserialize-user.ts
  packages/core/src/modules/asset/asset.service.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/auth/auth.service.ts
  packages/core/src/modules/integration/pexels/pexels.service.ts
  packages/core/src/modules/integration/unsplash/unsplash.service.ts
  packages/core/src/modules/nlu/nlu.service.ts
  packages/core/src/modules/platform/blogger/blogger.service.ts
  packages/core/src/modules/platform/devto/devto.service.ts
  packages/core/src/modules/platform/ghost/ghost.service.ts
  packages/core/src/modules/platform/hashnode/hashnode.controller.ts
  packages/core/src/modules/platform/hashnode/hashnode.service.ts
  packages/core/src/modules/platform/medium/medium.controller.ts
  packages/core/src/modules/platform/medium/medium.service.ts
  packages/core/src/modules/platform/wordpress/wordpress.service.ts
  packages/core/src/modules/post/publish/publish.helpers.ts
  packages/core/src/modules/user/user.controller.ts
  packages/core/src/utils/jwt.ts
  packages/core/src/utils/r2.ts
  packages/core/src/utils/sendgrid.ts
Labels: backend

fix type errors
  apps/frontend/src/components/editor/extensions/table/cell.ts
  apps/frontend/src/components/editor/extensions/table/header.ts
  apps/frontend/src/components/editor/extensions/table/menus/table-column/utils.ts
  apps/frontend/src/components/editor/extensions/table/menus/table-row/utils.ts
  apps/frontend/src/components/editor/extensions/table/utils.ts
Labels: frontend

frontend: Add link preview feature to editor
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/editor/extensions/index.ts
  apps/frontend/src/components/editor/extensions/link/index.tsx
  apps/frontend/src/components/editor/index.tsx
  apps/frontend/src/components/editor/menu/actions/link-action.tsx
  apps/frontend/src/components/editor/menu/content-item-menu/content-item-menu.tsx
  apps/frontend/src/components/editor/menu/content-item-menu/index.tsx
  apps/frontend/src/components/editor/menu/link-menu/index.tsx
  apps/frontend/src/components/editor/menu/text-menu/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/import-content.tsx
  apps/frontend/src/components/ui/link-button.tsx
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/modules/tools/tools.controller.ts
  packages/core/src/modules/tools/tools.routes.ts
  packages/core/src/modules/tools/tools.service.ts
  packages/core/src/modules/tools/tools.types.ts
  packages/core/src/routes.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

Add FaGlobe icon and refactor link-action component
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/editor/menu/actions/link-action.tsx
  apps/frontend/src/components/editor/menu/link-menu/index.tsx
Labels: frontend

remove duplicate imports
  apps/frontend/src/assets/icons/general.tsx
Labels: frontend

frontend: Add link preview feature to editor
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/editor/extensions/index.ts
  apps/frontend/src/components/editor/extensions/link/index.tsx
  apps/frontend/src/components/editor/index.tsx
  apps/frontend/src/components/editor/menu/actions/link-action.tsx
  apps/frontend/src/components/editor/menu/content-item-menu/content-item-menu.tsx
  apps/frontend/src/components/editor/menu/content-item-menu/index.tsx
  apps/frontend/src/components/editor/menu/link-menu/index.tsx
  apps/frontend/src/components/editor/menu/text-menu/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/import-content.tsx
  apps/frontend/src/components/ui/link-button.tsx
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/modules/tools/tools.controller.ts
  packages/core/src/modules/tools/tools.routes.ts
  packages/core/src/modules/tools/tools.service.ts
  packages/core/src/modules/tools/tools.types.ts
  packages/core/src/routes.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

Refactor favicon retrieval logic in ToolsService
  packages/core/src/modules/tools/tools.service.ts
Labels: backend

frontend, core: realtime notifications
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/common/layout/navbar/notifications.tsx
  apps/frontend/src/lib/providers/trpc.tsx
  packages/core/package.json
  packages/core/src/config/constants.ts
  packages/core/src/config/env.ts
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/auth/auth.routes.ts
  packages/core/src/modules/notification/notification.routes.ts
  packages/core/src/modules/notification/notification.service.ts
  packages/core/src/utils/pusher.ts
  packages/core/src/wss.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

core: add replyTo for reply-to email frontend: add share option for published posts, bug fixes, and improvements
  apps/frontend/src/app/(protected)/(dashboard)/settings/layout.tsx
  apps/frontend/src/app/(protected)/profile/page.tsx
  apps/frontend/src/app/(protected)/projects/[projectId]/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/sitemap.ts
  apps/frontend/src/assets/icons/action.tsx
  apps/frontend/src/assets/icons/app.tsx
  apps/frontend/src/assets/icons/editor.tsx
  apps/frontend/src/assets/icons/file.tsx
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/assets/icons/index.ts
  apps/frontend/src/components/common/go-to-home.tsx
  apps/frontend/src/components/editor/extensions/table/menus/menu-item.tsx
  apps/frontend/src/components/editor/extensions/table/menus/table-column/index.tsx
  apps/frontend/src/components/editor/extensions/table/menus/table-row/index.tsx
  apps/frontend/src/components/editor/menu/actions/link-action.tsx
  apps/frontend/src/components/editor/menu/content-item-menu/index.tsx
  apps/frontend/src/components/editor/menu/link-menu/index.tsx
  apps/frontend/src/components/editor/transform-markdown.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/platforms/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/platforms/share.tsx
  apps/frontend/src/components/modules/dashboard/projects/settings/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/connect-form.tsx
  apps/frontend/src/components/ui/tooltip.tsx
  apps/frontend/src/config/site.ts
  apps/frontend/src/hooks/use-copy-to-clipboard.tsx
  packages/core/src/config/env.ts
  packages/core/src/utils/sendgrid.ts
Labels: backend, frontend

feat: AI actions
  apps/frontend/src/assets/icons/editor.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/dev-tools/theme-toggle.tsx
  apps/frontend/src/components/editor/editor-footer.tsx
  apps/frontend/src/components/editor/index.tsx
  apps/frontend/src/components/editor/menu/action/action-shortcut.tsx
  apps/frontend/src/components/editor/menu/action/ai/change-tone.tsx
  apps/frontend/src/components/editor/menu/action/ai/index.tsx
  apps/frontend/src/components/editor/menu/action/fullscreen.tsx
  apps/frontend/src/components/editor/menu/action/history.tsx
  apps/frontend/src/components/editor/menu/action/image.tsx
  apps/frontend/src/components/editor/menu/action/link.tsx
  apps/frontend/src/components/editor/menu/action/marks.tsx
  apps/frontend/src/components/editor/menu/action/nodes.tsx
  apps/frontend/src/components/editor/menu/action/text-style.tsx
  apps/frontend/src/components/editor/menu/bubble-menu/index.tsx
  apps/frontend/src/components/editor/menu/content-item-menu/index.tsx
  apps/frontend/src/components/editor/menu/fixed-menu/index.tsx
  apps/frontend/src/components/editor/menu/link-menu/index.tsx
  apps/frontend/src/components/editor/menu/menu-action.tsx
  apps/frontend/src/components/modules/auth/register-form.tsx
  apps/frontend/src/lib/providers/trpc.tsx
  apps/frontend/src/utils/axios.ts
  apps/frontend/src/utils/stream.ts
  packages/core/src/config/constants.ts
  packages/core/src/config/env.ts
  packages/core/src/index.ts
  packages/core/src/middlewares/deserialize-user.ts
  packages/core/src/middlewares/validation.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/generative-ai/generate-ai.routes.ts
  packages/core/src/modules/generative-ai/generative-ai.controller.ts
  packages/core/src/modules/generative-ai/generative-ai.service.ts
  packages/core/src/routes.ts
  packages/core/src/utils/google/gemini.ts
Labels: backend, frontend
