Repository RakeshPotnuru/publish-studio, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, github-actions, github-meta, dependencies

bug fixes, markdown improvements and new ai actions
  apps/frontend/package.json
  apps/frontend/src/assets/icons/editor.tsx
  apps/frontend/src/components/common/go-to-home.tsx
  apps/frontend/src/components/editor/extensions/index.ts
  apps/frontend/src/components/editor/menu/action/ai/action.tsx
  apps/frontend/src/components/editor/menu/action/ai/generate-list.tsx
  apps/frontend/src/components/editor/menu/action/ai/index.tsx
  apps/frontend/src/components/editor/menu/action/ai/text-window.tsx
  apps/frontend/src/components/editor/menu/action/image.tsx
  apps/frontend/src/components/editor/menu/link-menu/index.tsx
  apps/frontend/src/components/editor/transform-markdown.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/platforms/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/platforms/share.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/export-project.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/generate-outline.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/import-content.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/index.tsx
  apps/frontend/src/hooks/use-editor.tsx
  packages/core/src/config/constants.ts
  packages/core/src/modules/generative-ai/generate-ai.routes.ts
  packages/core/src/modules/generative-ai/generative-ai.controller.ts
  packages/core/src/modules/generative-ai/generative-ai.service.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

chore: Remove tooltip from GoToHome component and update site links
  apps/frontend/src/components/common/go-to-home.tsx
  apps/frontend/src/config/site.ts
Labels: frontend

feat: Update dependencies to next.js 14.1.1 in frontend and admin apps
  pnpm-lock.yaml
Labels: dependencies

add highlight feature and change ai model
  apps/frontend/package.json
  apps/frontend/src/assets/icons/editor.tsx
  apps/frontend/src/components/editor/extensions/index.ts
  apps/frontend/src/components/editor/menu/action/ai/text-window.tsx
  apps/frontend/src/components/editor/menu/action/marks.tsx
  apps/frontend/src/config/site.ts
  packages/core/package.json
  packages/core/src/modules/generative-ai/generative-ai.controller.ts
  packages/core/src/modules/generative-ai/generative-ai.service.ts
  packages/core/src/utils/google/gemini.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

chore: Add Giphy integration in frontend
  .vscode/settings.json
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/public/images/integrations/giphy-logo.webp
  apps/frontend/public/images/integrations/powered-by-giphy-dark.webp
  apps/frontend/public/images/integrations/powered-by-giphy-light.webp
  apps/frontend/src/assets/images.ts
  apps/frontend/src/components/modules/dashboard/assets/image-widget/giphy.tsx
  apps/frontend/src/components/modules/dashboard/assets/image-widget/index.tsx
  apps/frontend/src/components/ui/loaders/dots-loader.tsx
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: frontend, dependencies

planner - dnd
  apps/frontend/package.json
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/modules/dashboard/assets/index.tsx
  apps/frontend/src/components/modules/dashboard/folders/index.tsx
  apps/frontend/src/components/modules/dashboard/home/recent-folders.tsx
  apps/frontend/src/components/modules/dashboard/home/recent-projects.tsx
  apps/frontend/src/components/modules/dashboard/planner/common/strict-mode-droppable.tsx
  apps/frontend/src/components/modules/dashboard/planner/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/section/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/new-section.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/section-actions.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/section.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/title.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/use-handle-drag-end.tsx
  apps/frontend/src/components/modules/dashboard/planner/task/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/task/task-actions.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/new-task/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/new-task/start-due-date.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/create-project.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/delete-task.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/duplicate-task.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-dialog.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task.tsx
  apps/frontend/src/components/modules/dashboard/projects/index.tsx
  apps/frontend/src/utils/fullscreen-mode.ts
  packages/core/src/config/constants.ts
  packages/core/src/modules/generative-ai/generative-ai.service.ts
  packages/core/src/modules/planner/section/section.controller.ts
  packages/core/src/modules/planner/section/section.routes.ts
  packages/core/src/modules/planner/section/section.service.ts
  packages/core/src/modules/planner/task/task.controller.ts
  packages/core/src/modules/planner/task/task.model.ts
  packages/core/src/modules/planner/task/task.routes.ts
  packages/core/src/modules/planner/task/task.service.ts
  packages/core/src/modules/planner/task/task.types.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

finish planner
  apps/frontend/src/components/modules/dashboard/planner/common/strict-mode-droppable.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/section-actions.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/section.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/new-task/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/delete-task.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-dialog.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task.tsx
  packages/core/src/modules/planner/section/section.controller.ts
  packages/core/src/modules/planner/task/task.controller.ts
  packages/core/src/modules/planner/task/task.service.ts
Labels: backend, frontend

finish brainstorm tool
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/upgrade.tsx
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/ideas.tsx
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/past-categories.tsx
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/past-content.tsx
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/topic.tsx
  apps/frontend/src/components/modules/dashboard/planner/common/create-project.tsx
  apps/frontend/src/components/modules/dashboard/planner/common/new-task/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/common/new-task/start-due-date.tsx
  apps/frontend/src/components/modules/dashboard/planner/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/new-section.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/section-actions.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/section.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/use-handle-drag-end.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/delete-task.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/duplicate-task.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-dialog.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task.tsx
  apps/frontend/src/components/ui/pro-button.tsx
  apps/frontend/src/lib/store/planner.ts
  packages/core/src/modules/generative-ai/generate-ai.routes.ts
  packages/core/src/modules/generative-ai/generative-ai.controller.ts
  packages/core/src/modules/generative-ai/generative-ai.service.ts
  packages/core/src/modules/project/project.controller.ts
  packages/core/src/modules/project/project.routes.ts
  packages/core/src/modules/project/project.service.ts
Labels: backend, frontend

fix: type error
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/delete-task.tsx
Labels: frontend

fix: dates issue in task
  apps/frontend/src/components/modules/dashboard/planner/common/new-task/date-picker.tsx
  apps/frontend/src/components/modules/dashboard/planner/common/new-task/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/common/new-task/start-due-date.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-dialog.tsx
  packages/core/src/modules/planner/task/task.service.ts
Labels: backend, frontend

fix: Disable start date field if due date is not selected task
  apps/frontend/src/components/modules/dashboard/planner/common/new-task/date-picker.tsx
Labels: frontend

fix: show auth pages in mobile
  apps/frontend/src/app/(auth)/layout.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/dev-tools/breakpoint-viewer.tsx
  apps/frontend/src/lib/providers/index.tsx
Labels: frontend

fix: scroll issue in combo box
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/past-categories.tsx
  apps/frontend/src/components/modules/dashboard/projects/move-project.tsx
Labels: frontend

fix: disposable email check in AuthService
  packages/core/src/modules/auth/auth.service.ts
Labels: backend

feat: Add posthog
  .vscode/settings.json
  apps/admin/src/components/modules/dashboard/home/index.tsx
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/lib/posthog-page-view.tsx
  apps/frontend/src/lib/providers/index.tsx
  apps/frontend/src/lib/providers/posthog.tsx
  packages/core/src/modules/planner/planner.controller.ts
  packages/core/src/modules/planner/planner.routes.ts
  packages/core/src/routes.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

chore: Update connect-src and script-src in next.config.mjs
  apps/frontend/next.config.mjs
Labels: frontend

chore: refreshed ui and bug fixes
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/(dashboard)/layout.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/components/common/go-to-home.tsx
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/common/layout/navbar/notifications.tsx
  apps/frontend/src/components/common/layout/sidebar.tsx
  apps/frontend/src/components/editor/editor-footer.tsx
  apps/frontend/src/components/editor/index.tsx
  apps/frontend/src/components/editor/menu/fixed-menu/index.tsx
  apps/frontend/src/components/editor/project-toolbar.tsx
  apps/frontend/src/components/modules/dashboard/projects/project.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  apps/frontend/src/components/ui/shell.tsx
  apps/frontend/src/hooks/use-editor.tsx
  apps/frontend/src/lib/providers/trpc.tsx
  packages/core/package.json
  packages/core/src/modules/platform/blogger/blogger.controller.ts
  packages/core/src/modules/platform/ghost/ghost.controller.ts
  packages/core/src/modules/platform/hashnode/hashnode.controller.ts
  packages/core/src/modules/platform/medium/medium.controller.ts
  packages/core/src/modules/platform/wordpress/wordpress.controller.ts
  packages/core/src/modules/post/publish/publish.service.ts
  packages/core/src/routes.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

chore: Add bug report link in auth footer
  apps/frontend/src/components/common/layout/footer.tsx
Labels: frontend

chore: Updates
  apps/frontend/package.json
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/go-to-home.tsx
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/editor/editor-footer.tsx
  apps/frontend/src/components/editor/menu/action/text-style.tsx
  apps/frontend/src/components/editor/menu/bubble-menu/index.tsx
  apps/frontend/src/components/editor/menu/fixed-menu/index.tsx
  apps/frontend/src/components/modules/dashboard/assets/new-asset.tsx
  apps/frontend/src/components/modules/dashboard/home/recent-folders.tsx
  apps/frontend/src/components/modules/dashboard/home/recent-projects.tsx
  apps/frontend/src/components/modules/dashboard/projects/columns.tsx
  apps/frontend/src/components/modules/dashboard/projects/row-actions.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/dev/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/ghost/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/hashnode/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/index.tsx
  apps/frontend/src/hooks/use-editor.tsx
  apps/frontend/src/styles/globals.css
  apps/frontend/tsconfig.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.routes.ts
  packages/core/src/modules/project/project.model.ts
  packages/core/src/modules/project/project.routes.ts
  packages/core/src/modules/project/project.service.ts
  packages/core/src/modules/project/project.types.ts
  packages/core/src/trpc.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

fix: download react version
  apps/frontend/package.json
  apps/frontend/src/styles/globals.css
  pnpm-lock.yaml
Labels: frontend, dependencies

fix: add `highlight.js` to `transpilePackages`
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: frontend, dependencies

feat: Add charts for read time, word count, and emotion stats
  apps/frontend/package.json
  apps/frontend/src/components/modules/dashboard/folders/toolbar.tsx
  apps/frontend/src/components/modules/dashboard/home/stats/common/range-filter.tsx
  apps/frontend/src/components/modules/dashboard/home/stats/common/stats-shell.tsx
  apps/frontend/src/components/modules/dashboard/home/stats/emotion-scores.tsx
  apps/frontend/src/components/modules/dashboard/home/stats/index.tsx
  apps/frontend/src/components/modules/dashboard/home/stats/project-stats.tsx
  apps/frontend/src/components/modules/dashboard/home/stats/reading-time-word-count.tsx
  apps/frontend/src/components/modules/dashboard/home/stats/topic-stats.tsx
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/topic.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/tone-analysis/analysis.tsx
  apps/frontend/src/styles/globals.css
  apps/frontend/src/utils/detect-locale.ts
  packages/core/src/modules/stats/stats.controller.ts
  packages/core/src/modules/stats/stats.routes.ts
  packages/core/src/modules/stats/stats.service.ts
  packages/core/src/modules/stats/stats.types.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

chore: Update search folders input event handler
  apps/frontend/src/components/modules/dashboard/folders/toolbar.tsx
Labels: frontend

chore: improvements
  .vscode/settings.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/projects/loading.tsx
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/common/layout/sidebar.tsx
  apps/frontend/src/components/modules/dashboard/planner/brainstorm/ideas.tsx
  apps/frontend/src/components/modules/dashboard/planner/common/new-task/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/index.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/new-section.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/section-actions.tsx
  apps/frontend/src/components/modules/dashboard/planner/sections/use-handle-drag-end.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/delete-task.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-actions/duplicate-task.tsx
  apps/frontend/src/components/modules/dashboard/planner/tasks/task-dialog.tsx
  apps/frontend/src/components/modules/dashboard/profile/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/project.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/use-reset-user.tsx
  apps/frontend/src/components/ui/pro-border.tsx
  apps/frontend/src/components/ui/pro-button.tsx
  apps/frontend/src/lib/providers/trpc.tsx
  apps/frontend/src/lib/stores/planner.ts
  apps/frontend/src/lib/stores/user.ts
  pnpm-lock.yaml
Labels: frontend, dependencies

refactor: Remove unused code in ProButton component
  apps/frontend/src/components/ui/pro-button.tsx
Labels: frontend

chore: Update billing page
  apps/frontend/src/components/modules/dashboard/settings/billing/index.tsx
  packages/core/src/modules/subscription/subscription.controller.ts
Labels: backend, frontend

chore: Update zod
  apps/admin/package.json
  pnpm-lock.yaml
Labels: frontend, dependencies

chore: Update script-src in next.config.mjs
  apps/frontend/next.config.mjs
Labels: frontend

chore: Update environments for Paddle integration
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/index.tsx
  packages/core/src/utils/paddle.ts
Labels: backend, frontend

chore: Update Paddle integration and default URL for different environments
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  apps/frontend/src/config/site.ts
Labels: frontend

feat: Handle Paddle API errors in SubscriptionController
  packages/core/src/modules/subscription/subscription.controller.ts
Labels: backend

chore: Update Paddle integration and default URL for different environments
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/cancel-subscription.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/update-payment-method.tsx
Labels: frontend

chore: fix default url
  apps/frontend/next.config.mjs
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/update-payment-method.tsx
  apps/frontend/src/config/site.ts
Labels: frontend

add logs
  packages/core/src/modules/subscription/subscription.controller.ts
Labels: backend

fix
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  packages/core/src/modules/subscription/subscription.controller.ts
Labels: backend, frontend

chore: Update Paddle integration
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/billing/update-payment-method.tsx
Labels: frontend

chore: fix paddle integration
  apps/frontend/src/components/common/layout/navbar/account-menu.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/common/layout/navbar/notifications.tsx
  apps/frontend/src/components/modules/dashboard/pay/index.tsx
  packages/core/package.json
  packages/core/src/modules/subscription/subscription.controller.ts
  packages/core/src/modules/subscription/subscription.routes.ts
  pnpm-lock.yaml
Labels: backend, frontend, dependencies

chore: add PaddleProvider to Providers component
  apps/frontend/src/lib/providers/index.tsx
  apps/frontend/src/lib/providers/paddle.tsx
Labels: frontend

chore: new admin endpoint for emails
  apps/frontend/src/components/editor/menu/action/link.tsx
  packages/core/src/config/constants.ts
  packages/core/src/modules/admin/admin.controller.ts
  packages/core/src/modules/admin/admin.routes.ts
  packages/core/src/modules/admin/auth.routes.ts
  packages/core/src/routes.ts
  packages/core/src/trpc.ts
  packages/core/src/utils/sendgrid.ts
Labels: backend, frontend

chore: add redirect_to to auth urls for better ux
  apps/frontend/src/components/modules/auth/google-auth.tsx
  apps/frontend/src/components/modules/auth/login-form.tsx
  apps/frontend/src/components/modules/auth/register-form.tsx
  apps/frontend/src/middleware.ts
Labels: frontend

.github/labeler.yml:

backend:
  - packages/**/*

frontend:
  - apps/**/*

documentation:
  - docs

github-actions:
  - .github/workflows/*

github-meta:
  - .github/**/*

dependencies:
  - package.json
  - pnpm-lock.yaml
  - apps/*/package.json
  - packages/*/package.json
